{% extends 'core/base.html' %} {% block static %}

<style>
  .chat-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .chat-messages {
    padding: 15px;
    overflow-y: scroll;
    height: 80vh;
  }

  .message {
    background-color: #e1f3fb;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    width: fit-content;
    max-width: 50%;
  }

  .ai-message {
    background-color: #dcf8c6;
  }

  .user-message.message {
    margin-left: auto;
  }

  #chat-form {
    padding: 15px;
    position: absolute;
    bottom: 10px;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .form-control {
    border-radius: 20px;
  }
</style>

{% endblock static %} {% block content %}

<div class="chat-container">
  <div class="chat-messages"></div>
  <form id="chat-form">
    <div class="input-group">
      <input
        type="text"
        id="prompt"
        class="form-control"
        placeholder="Type your message here..."
      />
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function createAIBubble(id) {
    $(".chat-messages").append(
      `<div class="message ai-message"> <span class="message-text" data-id="${id}"></span> </div>`
    );
  }

  function addAIMessage(id, message) {
    $(`.message-text[data-id="${id}"]`).text(message);
  }

  function addUserMessage(message) {
    $(".chat-messages").append(
      `<div class="message user-message"> <span class="message-text">${message}</span> </div>`
    );
  }

  $(document).ready(async function () {
    $("#chat-form").on("submit", async function (e) {
      e.preventDefault();
      const prompt = $("#prompt").val();

      addUserMessage(prompt);
      createAIBubble(prompt);

      $("#prompt").val("");

      try {
        const response = await fetch("/chat/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify({ prompt: prompt }),
        });

        if (response.ok) {
          const reader = response.body.getReader();

          let responseText = "";

          while (true) {
            const { done, value } = await reader.read();

            if (done) {
              break;
            }

            responseText += new TextDecoder("utf-8").decode(value);

            addAIMessage(prompt, responseText);
          }
        }
      } catch (error) {
        console.log(error);
      }
    });
  });
</script>

{% endblock content %}
